<!doctype html>
<html>
    <head>
        <title>Directory Browser - {{ path }}</title>
        <link rel="stylesheet" href="{{ url_for('mediabrowser.assets', filename='style.css') }}" />
    </head>
    <body class="list">
        {% if path != '.' %}
        <div>
            <img src="{{ url_for('mediabrowser.assets', filename='parent.png') }}" />
            <a href="{{ url_for('mediabrowser.listdir', path=parent) }}">
                Parent Directory
            </a>
        </div>
        {% endif %}

        {% for file in files %}
        {% if file['type'] == 'file' %}
        <div>
            <video src="{{ url_for('mediabrowser.thumbnail_video', path=file['fullpath']) }}"
                poster="{{ url_for('mediabrowser.assets', filename='spinner.gif') }}"
                autoplay="" loop="true" width="100" height="60">
            </video>
            <a href="{{ url_for('mediabrowser.watch', path=file['fullpath']) }}">
                {{ file['filename'] }} 
            </a>
        </div>
        {% endif %}

        {% if file['type'] == 'directory' %}
        <div>
            <img src="{{ url_for('mediabrowser.assets', filename='directory.png') }}" />
            <a href="{{ file['link'] }}">
                {{ file['filename'] }}
            </a>
        </div>
        {% endif %}
        {% endfor %}
    </body>
</html>
